@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.cTable {
  border: 1px solid #dddddd;
  width: 100%;
}

.cTable tr td:first-child {
  text-align: left;
}
.cTable tr td:nth-child(1) {
  width: 85%;
}
.cTable tr td:nth-child(2) {
  width: 5%;
}
.cTable tr td:nth-child(3) {
  width: 5%;
}
.cTable tr td:nth-child(4) {
  width: 5%;
}

.cTable tr th,
.cTable tr td {
  border: 1px solid #dddddd;
  padding: 6px;
  text-align: center;
}
